@media (min-width:992px){
    .container-2, .main-2, .main-2__left-title, .main-2__left-p, .main-2__left-title-blue, .main-2__left-p2
    {
        display: none;
    }


    
}
@media (max-width:768px){
    .container{
        display: none;
    }
    .container-2, .main-2, .main-2__left-title, .main-2__left-p, .main-2__left-title-blue, .main-2__left-p2{
        display: block;
    }
}